{% extends 'base_admin.html.twig' %}

{% block title %}
   
{% endblock %}

{% block body %}

<h3>Livre : </h3>
<p> Pour relier un livre, un auteur, un éditeur et un gendre</p>
 {{ include('_flash_messages.html.twig') }}
<div class = "container-fluid col-6">

{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
  {{ form_widget (form, {attr : {novalidate: 'novalidate'}}) }}

  <button type= "subtmit" class="btn btn-success">Enregistrer</button>
{{ form_end(form) }}

</div>

{% endblock %}