{% extends 'base.html.twig' %}

{% block title %}Liste des livres{% endblock %}

{% block body %}

<main>
  <div>
  <h3>Mentions légales</h3>
  <p>Taleggio cow cauliflower cheese. Bavarian bergkase swiss cheese triangles stilton cauliflower cheese port-salut lancashire rubber cheese. Red leicester babybel danish fontina manchego feta fromage bocconcini parmesan. Airedale babybel lancashire swiss bavarian bergkase cheesy grin lancashire.

Mascarpone cow fondue. Bocconcini roquefort cow fromage frais cut the cheese hard cheese melted cheese cheese triangles. Monterey jack gouda pepper jack rubber cheese roquefort bocconcini mozzarella goat. Cheese slices macaroni cheese cream cheese squirty cheese paneer squirty cheese.

Cheese and wine feta camembert de normandie. Cheese and wine cheeseburger when the cheese comes out everybody's happy melted cheese the big cheese cheese and wine danish fontina cauliflower cheese. Cheesy feet cauliflower cheese cheddar fromage cheesy grin paneer fromage frais bavarian bergkase. Bavarian bergkase.

Chalk and cheese when the cheese comes out everybody's happy queso. Brie everyone loves cheesecake croque monsieur pecorino edam stinking bishop stinking bishop. Fromage frais edam roquefort danish fontina cottage cheese squirty cheese parmesan mozzarella. Halloumi macaroni cheese cheese on toast babybel cheesy feet cottage cheese cheese and wine fondue. The big cheese red leicester roquefort.

Caerphilly red leicester cream cheese. When the cheese comes out everybody's happy fromage cheese triangles cheesy feet queso blue castello paneer brie. Gouda halloumi cheesecake squirty cheese port-salut babybel lancashire feta. Airedale fromage cheese triangles roquefort.</p>

  </div>
  
 {% endblock %}